.product-content {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding: 32px;
}

.product-content__image {
  width: 100%;
  height: 489px;
  object-fit: cover;
  border-radius: 12px;
}

.product-content__details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
