@import '../../../assets//style/variables.less';

.button-create {
  background-color: @green-color;
  color: @button-text-color;
}

.button-edit {
  background-color: @yellow-color;
  color: black;
}

.button-add {
  background-color: @primary-color;
  color: @button-text-color;
}

.button-update {
  background-color: @green-color;
  color: @button-text-color;
}

.button-delete {
  background-color: @red-color;
  color: @button-text-color;
}

.button-filter {
  background-color: @gray-color;
  color: @button-text-color-dark;
}

.button-close {
  background-color: @gray-color;
  color: @button-text-color-dark;
}
