.custom-carousel {
  position: relative;
  padding-bottom: 60px;
}

.custom-carousel-slide {
  padding: 0 10px;
}

/* скрываем стандартные стрелки slick */
.custom-carousel .slick-prev,
.custom-carousel .slick-next {
  display: none !important;
}

/* стрелки */
.carousel-arrow {
  position: absolute;
  top: calc(100% + 20px);
  z-index: 2;

  width: 40px;
  height: 40px;
  border-radius: 12px;
  border: none;

  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.carousel-arrow:hover {
  color: var(--primary-300);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.carousel-arrow-prev {
  left: 50%;
  transform: translateX(calc(-50% - 110px));
}

.carousel-arrow-next {
  left: 50%;
  transform: translateX(calc(-50% + 110px));
}

/* dots */
.custom-carousel .slick-dots {
  position: absolute;
  left: 50%;
  bottom: -40px;
  transform: translateX(-50%);
  display: flex !important;
  gap: 10px;
  margin: 0;
  padding: 0;
}
