.customCarousel {
  position: relative;
  padding-bottom: 60px;
}

.customCarousel__slide {
  padding: 0 10px;
}

/* скрываем стандартные стрелки slick */
.customCarousel .slick-prev,
.customCarousel .slick-next {
  display: none !important;
}

/* стрелки */
.carouselArrow {
  position: absolute;
  top: calc(100% + 20px);
  z-index: 2;

  width: 40px;
  height: 40px;
  border-radius: 12px;
  border: none;

  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.carouselArrow:hover {
  background: $primary-100;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.carouselArrow--prev {
  left: 50%;
  transform: translateX(calc(-50% - 110px));
}

.carouselArrow--next {
  left: 50%;
  transform: translateX(calc(-50% + 110px));
}

/* dots */
.customCarousel .slick-dots {
  position: absolute;
  left: 50%;
  bottom: -40px;
  transform: translateX(-50%);
  display: flex !important;
  gap: 10px;
  margin: 0;
  padding: 0;
}
