.card-blog {
  height: 100%;
  margin-right: 10px;
}

.card-blog img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
}

.card-blog__content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card-blog__title {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}

.card-blog__text {
  color: #6b7280;
}
