.card-blog-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
  padding: 10px;
}

.card-blog-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card-blog-title {
  font-size: var(--font-size-md);
  text-transform: uppercase;
  font-weight: 700;
}

.card-blog-text {
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
