.filter-accordion__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 100px;
}

.filter-accordion__tag {
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 14px;
  border: 1px solid #121214;
  background: #121214;
  color: #ffffff;
}

.filter-accordion__tag--active {
  background: #ffffff;
  color: #121214;
  border-color: #121214;
}
