.header {
  background-color: black;
  padding: 10px;
}

.header__inner {
  display: flex;
  align-items: center;
  // gap: 24px;
  justify-content: space-between;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

.header__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__nav {
  flex: 1;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__search {
  width: 200px;
}

.header__icon-button {
  color: #fff;
}

.header .ant-menu {
  background: transparent;
  border-bottom: none;
}

// .header .ant-menu-item-selected {
//   background: transparent !important;
// }
