/* .product-card-wrapper {
  padding-left: 30px;
}

.slick-slide:not(.slick-cloned).slick-slide
  .slick-active
  .slick-current:first-child
  .product-card-wrapper {
  padding-left: 0;
} */
.product-card {
  width: 100%;
}

.product-card.ant-card {
  cursor: pointer;
  transition:
    color 0.2s ease,
    transform 0.15s ease;
  border: none;
}

.product-card:hover {
  transform: scale(1.01);
}

.product-card-img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.product-meta .ant-card-meta-title {
  text-transform: uppercase;
}
