.header-dropdown-trigger {
  cursor: pointer;
}

.header-dropdown-title {
  position: relative;
  color: #fff;
  font-weight: 500;
  padding-bottom: 8px;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #1677ff;
    transition: width 0.25s ease;
  }
}

.header-dropdown-trigger:hover .header-dropdown-title::after {
  width: 100%;
}
