@tailwind base;
@tailwind components;
@tailwind utilities;

/* Слой base (основные стили, как для body, html и корневых элементов) */
@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  /* @media (prefers-color-scheme: dark) */
  /* @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  } */

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
  }
}

/* Слой components (для кастомных компонентов) */
@layer components {
  .header-items {
    @apply text-white bg-transparent hover:underline hover:underline-offset-4 hover:decoration-blue transition-all cursor-pointer;
  }
}

/* Слой utilities (кастомные утилиты) */
@layer utilities {
  .underline-hover {
    @apply hover:underline hover:underline-offset-4 hover:decoration-blue-500;
  }

  .transition-fast {
    @apply transition duration-200 ease-in-out;
  }
}
