@tailwind base;
@tailwind components;
@tailwind utilities;

/* Слой base (основные стили, как для body, html и корневых элементов) */
@layer base {
  :root {
    --background: #ffffff;
  }

  @font-face {
    font-family: 'RFDewi';
    src: url('../public/fonts/RFDewi-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'RFDewi';
    src: url('../public/fonts/RFDewi-Semibold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'RFDewi';
    src: url('../public/fonts/RFDewi-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'RFDewi';
    src: url('../public/fonts/RFDewi-Ultrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: 'RFDewi';
    src: url('../public/fonts/RFDewiExpanded-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  body {
    background: var(--background);
    font-family: 'RFDewi', Arial, sans-serif;
  }
}

/* Слой components (для кастомных компонентов) */
@layer components {
  .header-items {
    @apply text-white bg-transparent hover:underline hover:underline-offset-4 hover:decoration-blue transition-all cursor-pointer;
  }
}

/* Слой utilities (кастомные утилиты) */
@layer utilities {
  .underline-hover {
    @apply hover:underline hover:underline-offset-4 hover:decoration-blue-500;
  }

  .transition-fast {
    @apply transition duration-200 ease-in-out;
  }
}

/* В вашем Tailwind CSS */
/* .custom-swiper .swiper-pagination {
  @apply absolute bottom-5 left-1/2 transform -translate-x-1/2 z-10;
}

.custom-swiper .swiper-pagination-bullet {
  @apply w-3 h-3 bg-gray-300 rounded-full mx-1 opacity-70;
}

.custom-swiper .swiper-pagination-bullet-active {
  @apply bg-blue-500 opacity-100;
} */
