.search-input {
  width: 240px;
  padding: 0 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .ant-input-affix-wrapper {
    background-color: #f5f5f5;
    border-radius: 12px;
  }

  .ant-input {
    background: transparent;
    color: #121214;
  }
}
