.banner-slide {
  height: 600px;
}

.banner-slide__bg {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 7px;
  display: flex;
  align-items: center;
}

.banner-slide__content {
  max-width: 600px;
  text-align: left;
  padding-left: 48px;
  background: transparent;
}

.banner-slide__title {
  color: #000000;
  font-size: 48px;
  font-family: 'RFDewi expanded', Arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 16px;
}

.banner-slide__text {
  color: #374151;
  margin-bottom: 16px;
  font-size: 16px;
}
