.ant-carousel .slick-prev,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next,
.ant-carousel .slick-next:focus,
.ant-carousel .slick-next:hover {
  z-index: 2;
  color: var(--secondary-color) !important;
}

.ant-carousel .slick-dots li button {
  background: var(
    --secondary-color
  ) !important; /* Change to your desired color */
  /* opacity: 0.4; */
}

/* Change the color of the active (currently selected) dot */
.ant-carousel .slick-dots li.slick-active button {
  opacity: 1;
  background: var(--secondary-color); /* Change to your desired color */
}

.main-banner {
  margin-bottom: 16px;
}
