.custom-button {
  text-transform: $font-uppercase;
  border-radius: 8px;
  align-items: center;
  font-weight: 700;

  &--first.ant-btn {
    background-color: $black-color;
    color: #ffffff;
    padding: 20px;
    border: none;

    &.ant-btn:hover {
      background-color: green;
      color: #ffffff;
      border: none;
    }
  }

  &--second {
    background: transparent;
    color: $black-color;
    border: none;
    text-decoration: underline;
    margin-bottom: 4px;

    &:hover {
      color: #000;
      text-decoration: underline;
    }
  }
}
