.custom-button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: var(--font-size-sm2);

  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    opacity 0.2s ease;
}

/* FIRST */
.custom-button-first {
  background-color: var(--black-color);
  color: white;
  padding: 8px 16px;
}

.custom-button-first:hover {
  background-color: var(--primary-300);
}

/* SECOND */
.custom-button-second {
  background: transparent;
  color: var(--black-color);
  padding: 0;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
}

.custom-button-second:hover {
  color: var(--gray-color);
  text-decoration: underline;
}

/* ICON */
.custom-button-icon {
  display: inline-flex;
  align-items: center;
}

/* DISABLED */
.custom-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 900px) {
  .custom-button {
    font-size: var(--font-size-sm);
  }
}
