.xwear-footer__title {
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}

.xwear-footer__link,
.xwear-footer__policy-link {
  color: lightgray;
}

@media (max-width: 600px) {
  .xwear-footer__column {
    text-align: center;
  }

  .xwear-footer__column .ant-space {
    align-items: center;
  }
}
