.cartItem__qtyNumber {
  min-width: 32px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  text-align: center;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
